npm-debug.log
.DS_Store
.idea
.settings/
*.log
*.sock
*.iml
dump.rdb
xunit.xml
gjslint.conf
jsconfig.json
logs/*
reports/*
tmp/*
coverage/
examples/stan-sub-seq.js
examples/stan-worker.js
examples/readme_samples
benchmark/
bench/
typings/
typings.json
.istanbul.yml
.travis.yml
tsconfig.json
TODO
Makefile
test/
tstest/