npm-debug.log

.DS_Store
.idea
.settings/

*.log
*.heapsnapshot
*.sock
*.iml
.coverrun
.coverdata
dump.rdb
xunit.xml
gjslint.conf
jsconfig.json

logs/*
reports/*
tmp/*

examples/readme_samples
benchmark/
bench/
examples/
typings/
typings.json
.istanbul.yml
.travis.yml
.eslintrc.js
.eslintignore
crockford.jscsrc
tsconfig.json
TODO
Makefile
test/